<div class="d-flex align-items-center">
  <h2>クリニックレポート一覧</h2>
  <div class="ml-auto cl_reports_button">
    <%= link_to "レポートを作成", new_report_path, class:"btn btn-outline-info button" %>
  </div>
</div>
<table class="table table-bordered border-primary table-hover table-sm cl_reports_table">
  <thead class="thead-dark">
    <tr>
      <th>何人目不妊</th>
      <th>住まい</th>
      <th>クリニック</th>
      <th>年齢</th>
      <th>AMH値</th>
      <th>採卵回数</th>
      <th>移植回数</th>
      <th>作成日</th>
    </tr>
  </thead>
  <tbody>
    <% @clinic_reports.each do |cl_repo| %>
      <tr>
        <td><%= cl_repo.report.how_manieth_fertility_treatments %>目不妊</td>
        <td><%= cl_repo.clinic.prefecture.name %></td>
        <td><%= cl_repo.clinic.clinic_name %></td>
        <td><%= cl_repo.treatment_end_age %>歳</td>
        <td><%= cl_repo.amh %></td>
        <td><%= cl_repo.total_number_of_sairan %></td>
        <td><%= link_to '詳細', cl_repo, class: 'btn btn-outline-dark' %></td>
        <td><%= link_to '削除', cl_repo, class: 'btn btn-outline-dark', method: :destroy %></td>
      </tr>
    <% end %>
  </tbody>
</table>