<div class="d-flex align-items-center">
  <h1>クリニックレポート一覧</h1>
  <div class="ml-auto reports_button">
    <%= link_to "投稿", new_clinic_report_path, class:"btn btn-outline-info button" %>
  </div>
</div>
<table class="table table-bordered border-primary table-hover table-sm reports_table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>作成者</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @clinic_reports.each do |cl_repo| %>
      <tr>
        <td><%= cl_repo.id %></td>
        <td><%= cl_repo.title %></td>
        <td><%= cl_repo.name %></td>
        <td><%= cl_repo.created_at.to_s(:datetime_jp) %></td>
        <td><%= cl_repo.updated_at.to_s(:datetime_jp) %></td>
        <td><%= link_to '詳細', cl_repo, class: 'btn btn-outline-dark' %></td>
        <td><%= link_to '削除', cl_repo, class: 'btn btn-outline-dark', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>