<div class="d-flex align-items-center">
  <h1>クリニックレポートを作成</h1>
  <div class="ml-auto posts_button">
      <%= link_to "レポート一覧", report_clinic_reports_path, class:"btn btn-outline-info" %>
  </div>
</div>
<p>以下質問は--ここにクリニックname入れる---での治療結果を選択してください。</p>
<%= form_with(model: [ @report, @clinic_report ], local: true) do |f| %>
  <div class="form-group">
    <%= f.label :number_of_clinics, 'このクリニックは何院目ですか？' %>
    <%= f.select :number_of_clinics, { "1院目" => 1, "2院目" => 2, "3院目" => 3, "4院目" => 4, "5院目" => 5, "6院目" => 6, "7院目" => 7, "8院目" => 8, "9院目" => 9, "10院目" => 10, "それ以上" => 99 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        治療を開始してから何院目の医療機関か選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :current_state, '妊娠中ですか？すでに出産されていますか？' %>
    <%= f.select :current_state, { "妊娠中" => 1, "出産後" => 2 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        妊娠中または出産しているか選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :work_style, '通院中の働き方にもっとも当てはまるのはどれですか？' %>
    <%= f.select :work_style, { "正社員" => 1, "契約社員" => 2, "パート" => 3, "仕事はしていなかった" => 4, "正社員→退職" => 5, "正社員→長期休暇" => 6, "契約社員→退職" => 7, "パート→退職" => 8, "リモートワーク等へ切り替え" => 9, "その他" => 99 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        一番当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :address_at_that_time, '通院中の住まい' %>
    <%= f.collection_select :address_at_that_time, Prefecture.all, :id, :name, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        一番当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :number_of_aih, '体外・顕微受精にステップアップする前に人工授精は何回実施しましたか' %>
    <%= f.select :number_of_aih, { "1回" => 1, "2回" => 2, "3回" => 3, "4回" => 4, "5回" => 5, "6回" => 6, "7回" => 7, "8回" => 8, "9回" => 9, "10回" => 10, "10回以上" => 99 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :amh, '治療中のAMH値はいくつでしたか' %>
    <%= f.select :amh, { "0.1以下" => 1, "0.3以下" => 2, "0.5以下" => 3, "0.7以下" => 4, "1.0以下" => 5, "1.5以下" => 6, "2.0以下" => 7, "2.5以下" => 8, "3.0以下" => 9, "3.5以下" => 10, "4.0以下" => 11, "4.5以下"  => 12, "5.0以下" => 13, "5.5以下" => 14, "6.0以下" => 15, "6.5以下" => 16, "7.0以下" => 17, "7.5以下" => 18, "8.0以下" => 19, "8.5以下" => 20, "9.0以下" => 21, "9.5以下" => 22, "10.0以下" => 23, "10.1以上" => 99 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        一番直近の値を選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :bmi, '治療中のBMI値はいくつでしたか' %>
    <%= f.select :bmi, { "18.5未満" => 1, "18.5〜25未満" => 2, "25〜30未満" => 3, "30〜35未満" => 4, "35〜40未満" => 5, "40以上" => 6 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        一番直近の値を選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :name, '治療中サプリを使用しましたか（複数選択可）' %><br>
    <%= f.collection_check_boxes(:supplement_ids, Supplement.all, :id, :name) do |b| %>
      <div class="form-check form-check-inline">
        <%= b.check_box class:"form-check-input" %>
        <%= b.label(class: "form-check-label") { b.text } %>
      </div>
    <% end %>
    <small id="poster-tip" class="form-text text-muted">
        妊娠に至った周期に服用していたサプリがあれば全て選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :name, '女性側に不妊原因がありましたか？（複数選択可）' %>
    <%= f.collection_check_boxes(:female_infertility_factor_ids, FemaleInfertilityFactor.all, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
    <small id="poster-tip" class="form-text text-muted">
        不妊原因があれば全て選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :name, '男性側に不妊原因がありましたか？（複数選択可）' %>
    <%= f.collection_check_boxes(:male_infertility_factor_ids, MaleInfertilityFactor.all, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
    <small id="poster-tip" class="form-text text-muted">
        不妊原因があれば全て選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :name, '女性側に疾患はありましたか？（複数選択可）' %>
    <%= f.collection_check_boxes(:female_disease_ids, FemaleDisease.all, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
    <small id="poster-tip" class="form-text text-muted">
        疾患があれば全て選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :name, '男性側に疾患はありましたか？（複数選択可）' %>
    <%= f.collection_check_boxes(:male_disease_ids, MaleDisease.all, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
    <small id="poster-tip" class="form-text text-muted">
        疾患があれば全て選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :name, '治療に関連して女性側が行った手術はありますか？（複数選択可）' %>
    <%= f.collection_check_boxes(:female_surgery_ids, FemaleSurgery.all, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
    <small id="poster-tip" class="form-text text-muted">
        行った手術を全て選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :name, '治療に関連して男性側が行った手術はありますか？（複数選択可）' %>
    <%= f.collection_check_boxes(:male_surgery_ids, MaleSurgery.all, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
    <small id="poster-tip" class="form-text text-muted">
        行った手術を全て選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :types_of_eggs_and_sperm, '用いた卵子と精子' %>
    <%= f.select :types_of_eggs_and_sperm, { "自分自身の卵子/精子を用いた" => 1, "提供卵子を用いた" => 2, "提供精子を用いた" => 3, "どちらも提供を受けた" => 4, "凍結していた自分の未受精卵を用いた" => 5, "凍結していた自分の精子を用いた" => 6, "その他" => 99 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :type_of_sairan_cycle, '妊娠に至った周期の採卵誘発方法は' %>
    <%= f.select :type_of_sairan_cycle, { "完全自然" => 1, "内服薬使用（クロミッド等）" => 2, "内服薬＋注射" => 3, "4個" => 4, "アンタゴニスト法" => 5, "ロング法" => 6, "ショート法" => 7 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :total_number_of_sairan, 'このクリニックでの全採卵回数' %>
    <%= f.select :total_number_of_sairan, { "1回" => 1, "2回" => 2, "3回" => 3, "4回" => 4, "5回" => 5, "6回" => 6, "7回" => 7, "8回" => 8, "9回" => 9, "10回" => 10, "11回" => 11, "12回"  => 12, "13回" => 13, "14回" => 14, "15回" => 15, "16回" => 16, "17回" => 17, "18回" => 18, "19回" => 19, "20回" => 20, "それ以上" => 99 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :number_of_eggs_collected, 'このクリニックでの全採卵個数' %>
    <%= f.select :number_of_eggs_collected, { "0個" => 1, "2個" => 2, "3個" => 3, "4個" => 4, "5個" => 5, "6個" => 6, "7個" => 7, "8個" => 8, "9個" => 9, "10個" => 10, "11個" => 11, "12個"  => 12, "13個" => 13, "14個" => 14, "15個" => 15, "16個" => 16, "17個" => 17, "18個" => 18, "19個" => 19, "20個" => 20, "21個" => 21, "22個" => 22, "23個" => 23, "24個" => 24, "25個" => 25, "26個" => 26, "27個" => 27, "28個" => 28, "29個" => 29, "30個" => 30, "31個" => 31, "32個"  => 32, "33個" => 33, "34個" => 34, "35個" => 35, "36個" => 36, "37個" => 37, "38個" => 38, "39個" => 39, "40個" => 40, "41個" => 41, "42個" => 42, "43個" => 43, "44個" => 44, "45個" => 45, "46個" => 46, "47個" => 47, "48個" => 48, "49個" => 49, "50個" => 50, "51個" => 51, "52個"  => 52, "53個" => 53, "54個" => 54, "55個" => 55, "56個" => 56, "57個" => 57, "58個" => 58, "59個" => 59, "60個" => 60, "61個" => 61, "62個" => 62, "63個" => 63, "64個" => 64, "65個" => 65, "66個" => 66, "67個" => 67, "68個" => 68, "69個" => 69, "70個" => 70, "11個" => 71, "72個"  => 72, "73個" => 73, "74個" => 74, "75個" => 75, "76個" => 76, "77個" => 77, "78個" => 78, "79個" => 79, "80個" => 80, "81個" => 81, "82個" => 82, "83個" => 83, "84個" => 84, "85個" => 85, "86個" => 86, "87個" => 87, "88個" => 88, "89個" => 89, "90個" => 90, "91個" => 91, "92個"  => 92, "93個" => 93, "94個" => 94, "95個" => 95, "96個" => 96, "97個" => 97, "98個" => 98, "99個" => 99, "100個" => 100, "101〜150個" => 101, "151〜200個" => 102, "201〜300個" => 103, "301〜400個" => 104, "401〜500個" => 105, "501〜1,000個" => 106, "それ以上" => 999 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :name, '周期で使用した卵巣刺激薬剤を教えてください（複数選択可）' %>
    <%= f.collection_check_boxes(:ranso_shigeki_ids, RansoShigeki.all, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
    <small id="poster-tip" class="form-text text-muted">
      　使用した薬剤を全て選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :name, '妊娠に至った周期に使用した排卵抑制剤を教えてください（複数選択可）' %>
    <%= f.collection_check_boxes(:hairan_yokusei_ids, HairanYokusei.all, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
    <small id="poster-tip" class="form-text text-muted">
      　使用した薬剤を全て選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :name, '妊娠に至った周期に使用した排卵誘発剤を教えてください（複数選択可）' %>
    <%= f.collection_check_boxes(:hairan_yuhatsu_ids, HairanYuhatsu.all, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
    <small id="poster-tip" class="form-text text-muted">
      　使用した薬剤を全て選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :total_number_of_transplants, 'このクリニックでの全移植回数' %>
    <%= f.select :total_number_of_transplants, { "1回" => 1, "2回" => 2, "3回" => 3, "4回" => 4, "5回" => 5, "6回" => 6, "7回" => 7, "8回" => 8, "9回" => 9, "10回" => 10, "11回" => 11, "12回"  => 12, "13回" => 13, "14回" => 14, "15回" => 15, "16回" => 16, "17回" => 17, "18回" => 18, "19回" => 19, "20回" => 20, "それ以上" => 99 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :name, '移植時のオプションについて教えてください（複数選択可）' %>
    <%= f.collection_check_boxes(:isyoku_option_ids, IsyokuOption.all, :id, :name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
    <small id="poster-tip" class="form-text text-muted">
        妊娠に至った移植で使用したオプションを全て選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :number_of_eggs_stored, 'このクリニックにある凍結胚の数（貯卵数）' %>
    <%= f.select :number_of_eggs_stored, { "1個" => 1, "2個" => 2, "3個" => 3, "4個" => 4, "5個" => 5, "6個" => 6, "7個" => 7, "8個" => 8, "9個" => 9, "10個" => 10, "11個" => 11, "12個"  => 12, "13個" => 13, "14個" => 14, "15個" => 15, "16個" => 16, "17個" => 17, "18個" => 18, "19個" => 19, "20個" => 20, "21個" => 21, "22個" => 22, "23個" => 23, "24個" => 24, "25個" => 25, "26個" => 26, "27個" => 27, "28個" => 28, "29個" => 29, "30個" => 30, "それ以上" => 99 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :types_of_fertilization_methods, '妊娠に至った卵子と精子の受精方法を教えてください' %>
    <%= f.select :types_of_fertilization_methods, { "体外受精（ふりかけ）" => 1, "顕微授精" => 2, "スプリット法" => 3 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :number_of_fertilized_eggs, '最新の周期での受精個数' %>
    <%= f.select :number_of_fertilized_eggs, { "1個" => 1, "2個" => 2, "3個" => 3, "4個" => 4, "5個" => 5, "6個" => 6, "7個" => 7, "8個" => 8, "9個" => 9, "10個" => 10, "11個" => 11, "12個"  => 12, "13個" => 13, "14個" => 14, "15個" => 15, "16個" => 16, "17個" => 17, "18個" => 18, "19個" => 19, "20個" => 20, "21個" => 21, "22個" => 22, "23個" => 23, "24個" => 24, "25個" => 25, "26個" => 26, "27個" => 27, "28個" => 28, "29個" => 29, "30個" => 30, "31個" => 31, "32個"  => 32, "33個" => 33, "34個" => 34, "35個" => 35, "36個" => 36, "37個" => 37, "38個" => 38, "39個" => 39, "40個" => 40, "41個" => 41, "42個" => 42, "43個" => 43, "44個" => 44, "45個" => 45, "46個" => 46, "47個" => 47, "48個" => 48, "49個" => 49, "50個" => 50, "それ以上" => 99 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :number_of_frozen_eggs, '最新の周期で受精した胚はいくつ凍結できましたか' %>
    <%= f.select :number_of_frozen_eggs, { "1個" => 1, "2個" => 2, "3個" => 3, "4個" => 4, "5個" => 5, "6個" => 6, "7個" => 7, "8個" => 8, "9個" => 9, "10個" => 10, "11個" => 11, "12個"  => 12, "13個" => 13, "14個" => 14, "15個" => 15, "16個" => 16, "17個" => 17, "18個" => 18, "19個" => 19, "20個" => 20, "21個" => 21, "22個" => 22, "23個" => 23, "24個" => 24, "25個" => 25, "26個" => 26, "27個" => 27, "28個" => 28, "29個" => 29, "30個" => 30, "31個" => 31, "32個"  => 32, "33個" => 33, "34個" => 34, "35個" => 35, "36個" => 36, "37個" => 37, "38個" => 38, "39個" => 39, "40個" => 40, "41個" => 41, "42個" => 42, "43個" => 43, "44個" => 44, "45個" => 45, "46個" => 46, "47個" => 47, "48個" => 48, "49個" => 49, "50個" => 50, "それ以上" => 99 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :cost, 'このクリニックで総額いくらかかりましたか' %>
    <%= f.select :cost, { "10万円未満" => 1, "10〜30万円未満" => 2, "30〜50万円未満" => 3, "50〜100万円未満" => 4, "100〜150万円未満" => 5, "150〜200万円未満" => 6, "200〜250万円未満" => 7, "250〜300万円未満" => 8, "300〜350万円未満" => 9, "350〜400万円未満" => 10, "400〜450万円未満" => 11, "450〜500万円未満"  => 12, "500〜550万円未満" => 13, "550〜600万円未満" => 14, "600〜650万円未満" => 15, "650〜700万円未満" => 16, "700〜750万円未満" => 17, "750〜800万円未満" => 18, "800〜850万円未満" => 19, "850〜900万円未満" => 20, "900〜950万円未満" => 21, "950〜1,000万円未満" => 22, "1,000〜1,500万円未満" => 23, "1,500〜2,000万円未満" => 24, "2,000万円以上" => 99 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :credit_card_validity, 'クレジットカードは使えましたか？' %>
    <%= f.select :credit_card_validity, { "可" => 1, "不可" => 2, "一定の金額から使用可能" => 3, "その他" => 99 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :average_waiting_time, 'クリニックでの平均待ち時間はどのくらいでしたか' %>
    <%= f.select :average_waiting_time, { "〜1時間" => 1, "〜2時間" => 2, "〜3時間" => 3, "〜4時間" => 4, "〜5時間" => 5, "それ以上" => 6 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :clinic_selection_criteria, 'このクリニックを選んだ理由' %>
    <%= f.select :clinic_selection_criteria, { "自宅から近かったから" => 1, "職場から近かったから" => 2, "口コミがよかったから" => 3, "料金が手頃だったから" => 4, "以前に通ったことがあったから" => 5, "それ以上" => 6 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        当てはまるものを選択してください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :content, '治療の感想について自由にお書きください（尚、次項に「クリニックレビュー」記述欄が用意されています）' %>
    <%= f.text_area :content, :class => "form-control", rows: 10 %>
    <small id="poster-tip" class="form-text text-muted">
        可能な限り多くの情報を書いてください。
    </small>
  </div>
  <div class="form-group">
    <%= f.label :clinic_review, 'クリニックについて自由にお書きください。' %>
    <%= f.text_area :clinic_review, :class => "form-control", rows: 10 %>
    <small id="poster-tip" class="form-text text-muted">
        特定の人物への誹謗中傷等はおやめください。
    </small>
  </div>


  <%= f.submit '投稿', class: 'btn btn-info btn-block' %>
  <small id="submit-tip" class="form-text text-muted">
      投稿する前に投稿内容を見直してください!
  </small>
<% end %>