<p id="notice"><%= notice %></p>

<% cr = @clinic_report %>

<%= cr.clinic.clinic_name %>（現在<%= cr.current_state %>）での
<%= cr.report.how_manieth_fertility_treatments %>人目不妊治療のレポートです。

<h2>レポート要約</h2>
<p><%= cr.report.user.name %>さんは、<%= cr.treatment_start_age %>歳の時に<%= cr.number_of_clinics %>院目となる<%= cr.clinic.clinic_name %>で治療を開始しました。