<div class="d-flex align-items-center">
  <h1>レポート作成</h1>
  <div class="ml-auto posts_button">
      <%= link_to "レポート一覧", clinic_reports_path, class:"btn btn-outline-info" %>
  </div>
</div>
<%= form_with(model: @report, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :how_manieth_fertility_treatments, '何人目の治療レポートを作成しますか？' %>
    <%= f.select :how_manieth_fertility_treatments, { "1人目" => 1, "2人目" => 2, "3人目" => 3, "4人目" => 4, "5人目" => 5 }, {}, { :class => "form-control" }  %>
    <small id="poster-tip" class="form-text text-muted">
        何人目かを選択してください。
    </small>
  </div>
  <div class="submit-btn">
    <%= f.submit '作成', class: 'btn btn-info btn-block' %>
    <small id="submit-tip" class="form-text text-muted">
        間違いがなければ作成してください。
    </small>
  </div>
<% end %>